.bg-white {
    @include padding(_size(section-spacing), _size(section-spacing));
    background: _palette(bg);
    border: solid 1px _palette(border);
    margin: 0 0 _size(section-spacing) 0;
    position: relative;
}